input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #eeeff1;
  border-radius: 6px;
  border: 1px solid #eeeff1;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 42px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #eeeff1;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #eeeff1;
  border-radius: 6px;
  border: 1px solid #eeeff1;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 42px;
  background: #000000;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #eeeff1;
  border: 1px solid #eeeff1;
  border-radius: 12px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #eeeff1;
  border: 1px solid #eeeff1;
  border-radius: 12px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 42px;
  background: #000000;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #eeeff1;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #eeeff1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 0;
  border: 1px solid #888;
  width: 80%;
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  /* overflow-y: scroll; */
  height: calc(100% - 20%);
}
#modelContentGroup {
  overflow-y: auto;
  height: calc(100% - 30px);
  width: 100%;
}
#modelTitle {
  margin: 0;
  float: left;
  padding: 0 0 16px 20px;
}
.model-header {
  width: 100%;
  border-bottom: 1px solid #cccc;
  height: auto;
  overflow: hidden;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: -10px 20px 0px 0;
}
#popupContent {
  padding: 0 30px;
  text-align: justify;
}
#popupContent p {
  font-size: 16px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
h8 {
  display: inline-block;
  text-align: right;
  width: 128px;
  padding: 10px 0;
}
h9 {
  display: inline-block;
  text-align: right;
  padding: 4px 0;
  width: 128px;
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: #fafbff;
  background-position: top;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: "Verdana", sans-serif;
  font-size: 1.2em;
  text-align: center;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
.content {
  background-color: #ffffff;
  display: inline-block;
  text-align: left;
  max-width: 1800px;
  height: auto;
  overflow: hidden;
}
input {
  width: 64px;
  text-align: right;
  font-size: 1.1em;
}
input[type="range"] {
  width: 96px;
}
select {
  font-size: 1.1em;
}
.info {
  background-color: gainsboro;
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
}
table {
  border-collapse: collapse;
}
ul {
  margin: 0;
}
.preview {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  position: fixed;
}
.launcher-header {
  display: block;
  list-style: none;
  height: auto;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
  padding: 20px 20px 8px 20px;
  border-bottom: 1px solid #eeeff1;
}
.headerTitle {
  padding-right: 20px;
  width: calc(40% - 35px);
  max-width: 530px;
  float: left;
}
.secondHeader {
  padding-right: 40px !important;
  float: left;
  width: calc(30% - 30px);
}
.lastChild {
  width: 30%;
  float: right;
}
.secondHeader font,
.lastChild font {
  font-weight: 600;
}
.logoContent font {
  display: inline-flex;
}
.logoContent font img {
  width: 30px;
  height: 30px;
  margin: 0 7px 0px 7px;
}
.logoContent span {
  font-size: 16px;
  font-weight: 400;
}
.lastChild h8 {
  padding: 2px;
  text-align: right;
}
#RocketDescription {
  margin: 0;
  width: 99%;
  overflow: hidden;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}
.launcher-header p {
  margin: 5px 0 10px 0;
  line-height: 1;
  padding: 0;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #000000;
}
.launcher-header p FONT {
  font-weight: 600;
}
.logoContent {
  font-size: 26px !important;
}
.headerBG {
  background-color: #eff3f6;
  height: auto;
  overflow: hidden;
}
.hyper-content {
  font-size: 14px !important;
  color: #6e6e6e !important;
  padding: 3px 0 !important;
}
.launcher-header li a {
  color: #5c00f7;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
select {
  border-radius: 3px;
  background-color: #fff !important;
  border: solid 0.5px #688093;
  font-size: 14.5px;
  padding: 5px 10px;
  font-weight: 600;
  min-width: 170px;
  height: 32px;
  margin: 2px 0px;
  background: url("dropdown.png") no-repeat right;
  -webkit-appearance: none;
  background-position-x: 96%;
}
.right-select {
  float: right;
}
#Rocket {
  margin-top: 5px;
  width: 100%;
  max-width: 400px;
}
.headerTable {
  font-size: 14px;
}
.headerTable tr {
  font-size: 16px;
  font-weight: 400;
}
.heighlightBG {
  border-radius: 2px;
  background-color: #5c00f7;
  padding: 5px;
  color: #fff;
  font-size: 18px;
}
.highlightprice {
  padding: 0px 0 5px 0;
  text-align: right;
}
.borderTable {
  border: 1px solid #eeeff1;
  width: 100%;
}
table {
  width: 100%;
}
.borderTable tr {
  font-size: 15px;
  font-weight: 400;
}
.borderTable td {
  padding: 0px 10px;
  line-height: 1;
}
input[type="checkbox"] {
  width: 20px;
  background-color: #fff;
}
input[type="text"] {
  border-radius: 1.5px;
  border: solid 0.5px #688093;
  margin: 2px 0;
  text-align: right;
  padding: 4px 8px 4px 8px;
}
.tableResultContent input[type="text"] {
  width: 85px;
}
.tableResultContent .mobilelayout_r1 {
  padding-right: 10px;
}
.inputstyle-1 {
  width: 150px;
  text-align: left;
}
.spacetitle {
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
  padding: 5px 10px;
  border: 1px solid rgba(216, 216, 216, 0.25);
}
.spacetitle select {
  margin-left: 15px;
}
.padd2 {
  padding: 5px 10px;
}
.spacetitle font,
.padd2 font {
  font-weight: 600;
}
.spaceheder2cont font {
  font-size: 16px;
  font-weight: 400;
}
.topspace {
  margin-top: 5px;
}
.tdpadd1 {
  padding: 0px 10px !important;
}
.tablecontent {
  padding: 10px 30px 40px 30px;
  height: 100%;
  overflow: hidden;
}
.number-text1 {
  padding: 4px 8px 4px 8px;
  margin-top: 5px;
  min-width: 80px;
}
.kgtext {
  padding-left: 5px;
}
.tableRocketContent {
  float: left;
  width: calc(55% - 15px);
  padding-bottom: 3px;
}
.tableResultContent {
  float: left;
  width: calc(45% - 15px);
  margin-left: 30px;
}
.right-content {
  float: right;
  border: none;
  padding: 6px 0 !important;
}
.right-content01 {
  padding: 2px 0 !important;
}
.adwacedContent {
  width: 100%;
  padding-bottom: 20px;
}
.engineText {
  float: left;
  width: calc(100% - 170px);
  padding-top: 8px;
}
.nopadd {
  padding-top: 0;
}
.spaceheder2cont,
.leftTitle {
  float: left;
}
.layout_wt_content {
  text-align: right;
  float: right;
}
.layout_wt_content input {
  float: left;
}
.layout_wt_content span {
  display: inline-block;
  width: 20px;
  text-align: left;
  padding-left: 5px;
  margin-top: 10px;
}
.layout_wt_content h8 span {
  margin-top: 0;
}
.adwacedContent button {
  margin: 0 auto;
  display: block;
  font-size: 16px;
  width: 170px;
  height: 30px;
  border-radius: 2px;
  border: solid 0.5px #b5bdcd;
  background-color: #fff;
}
.mobilelayout_r2,
.mobilelayout_r2 h8 {
  text-align: right;
  width: 100%;
}
.mobilelayout_r1,
.mobRight {
  text-align: right;
}
.mobRight select,
.mobpadd select,
.mobpadd input {
  margin-right: 25px;
}
.mobilelayout_r2 input[type="range"] {
  margin-top: 15px;
  width: calc(100% - 115px);
}
.mobileinner-r1 input {
  margin-left: 5px;
}
.rocketnewview {
  display: flex;
  float: right;
}
.rocketnewview input {
  width: 30px;
  min-width: 28px;
}
.rocketnewview .inputstyle-1,
#Second_stage_engine_thrust {
  width: 60px;
}
.rocketnewview span {
  padding-top: 7px;
  padding-left: 5px;
}
.rocketnewview .kgtext {
  padding-right: 5px;
}
@media only screen and (max-width: 980px) {
  .tableRocketContent {
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .tableResultContent {
    float: none;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .secondHeader {
    padding-right: 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  .headerTitle,
  .lastChild {
    padding: 0;
    width: 100%;
  }
  .secondHeader {
    padding-bottom: 30px;
    padding-right: 0 !important;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #RocketDescription {
    width: 100%;
  }
  .tablecontent {
    padding: 5px 15px 20px 5px;
  }
  .spacetitle {
    display: block;
  }
  .borderTable,
  .spacetitle,
  .borderTable td {
    border: none;
  }
  .secondHeader {
    padding-bottom: 30px;
  }
  .right-select {
    float: none;
  }
  .borderTable tr {
    display: inline-block;
    font-size: 14px;
    width: 100%;
    border-bottom: 0.5px solid #eeeff1;
  }
  .borderTable td {
    display: inline-block;
    line-height: 1.3;
    width: calc(100%);
    padding: 0 5px;
  }
  .borderTable td[hidden="true"] {
    display: none !important;
  }
  select {
    width: 50%;
    margin: 10px 0;
  }
  input[type="text"] {
    width: 50%;
    margin: 10px 0;
  }
  h8,
  h9 {
    padding: 6px 0;
  }
  .right-content {
    float: right;
    text-align: right;
    padding: 5px 0 10px 0 !important;
  }
  .dummy-node {
    display: none !important;
  }
  input[type="range"] {
    margin-right: 20px;
  }
  .tableResultContent {
    margin: 0;
    margin-top: 5px;
  }
  .spacetitle {
    display: grid;
  }
  .spacetitle select {
    margin: 15px 0 0 0;
  }
  select {
    font-size: 13px;
    background-size: 10px;
  }
  .mobLeft select {
    float: left;
    min-width: 49%;
    width: 49%;
    margin-bottom: 0;
  }
  .mobRight select {
    float: right;
    min-width: 49%;
    width: 49%;
    margin-bottom: 0;
    margin-top: -42px;
  }
  .engineText {
    padding-top: 5px;
    line-height: 1;
    height: auto;
    width: 100%;
  }
  .mobilelayout_l1 {
    width: 65%;
    float: left;
    padding-top: 4px;
  }
  .mobilelayout_r1 {
    width: 30%;
    float: right;
  }
  .mobilelayout_r1 input {
    width: 82%;
    margin: 0;
    float: right;
    margin-top: -28px;
  }
  .mobilelayout_r1 select {
    width: 100%;
    min-width: 80px;
    margin: 4px 0;
    float: right;
    margin-top: -15px;
  }
  .mobilelayout_r2 {
    width: 30%;
    float: right;
    margin-top: -23px;
  }
  .mobilelayout_r2 h8 {
    padding: 2px 10px;
    text-align: right !important;
  }
  .padd2,
  .spacetitle {
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 0.5px solid #eeeff1;
  }
  .layout_wt_content {
    margin-top: -26px;
  }
  .layout_wt_content input {
    float: left;
    margin: 0;
    width: calc(100% - 50px) !important;
  }
  .layout_wt_content span {
    float: left;
    padding-left: 5px;
  }
  .layout_wt_content h9 span {
    margin-top: 0px;
  }
  .layout_wt_content h8,
  .layout_wt_content h9 {
    display: flex;
  }
  .mobilelayout_l2 {
    width: 50%;
    float: left;
    padding-top: 4px;
  }
  .mobilelayout_r2 {
    width: 50%;
    float: right;
    display: inline-flex;
    margin: 0;
  }
  .mobilelayout_r2 input[type="range"] {
    width: 70px;
    margin: 0;
    float: left;
    margin-top: -28px;
  }
  .mobileinner-r1 {
    margin-left: 8px;
    margin-top: -25px;
  }
  .mobRight select,
  .mobpadd select,
  .mobpadd input {
    margin-right: 0;
  }
  .rocketnewview span {
    padding-top: 10px;
    padding-left: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .launcher-header {
    padding: 10px;
  }
  .logoContent span {
    font-size: 14px;
  }
  .launcher-header p FONT {
    font-size: 21px;
  }
  .logoContent font img {
    width: 25px;
    margin: 0 3px 0px 3px;
    height: 25px;
  }
  .hyper-content {
    line-height: 1.5 !important;
  }
  .tdright {
    text-align: right;
  }
  .tdright h8 {
    text-align: right;
  }
}
.mobilelayout_r2 {
  padding: 0px 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  select {
    background: url("dropdown@2x.png") no-repeat right;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  select {
    background-position-x: 96%;
    background-size: 12px;
  }
}
/* {border: 1px solid #eeeff1;
    border-collapse: separate;
    border-spacing: 0 1em;} */
